@import url('https://fonts.googleapis.com/css?family=Gugi|Roboto+Condensed:300,300i,400,700');

space, planets, satellites, name, title,
details > description,
space > details,
planets planet > description {
    display: block;
}

space {
    background-color: #0b1c4b;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

/*
* === DETAILS ===
*/
space > details {
    background-color: #fff;
    padding: 30px;
}

space > details title {
    font-size: 2.5rem;
    font-weight: 700;
}

space > details description {
    font-size: 1.5rem;
    padding: 10px 0;
    color: rgba(0, 0, 0, .7);
}
space > details description:before {
    content: "Description: ";
}

space > details authors {
    background-color: rgba(0, 0, 0, .1);
    display: flex;
    padding: 30px;
    margin: 15px -30px -30px -30px;
}

space > details authors author {
    display: block;
    border-radius: 5px;
    margin-right: 5px;
}

space > details authors author:not(:last-child):after {
    content: ",";
    margin-left: -3px;
    margin-right: 2px;
}

space > details authors author id {
    padding: 2px;
    display: inline-block;
    opacity: 0.6;
}
space > details authors author id:before {
    content: '(';
}
space > details authors author id:after {
    content: ')';
}

/*
* === PLANETS AND SATELLITES ===
*/

apoapsis:before {
    content: "Apoapsis: ";
}
periapsis:before {
    content: "Periapsis: ";
}
apoapsis:after,
periapsis:after {
    content: " km";
}
inclination:before {
    content: "Inclination: ";
}
inclination:after {
    content: "°";
}
orbital_period:before {
    content: "Orbital period: ";
}
orbital_period[type=years]:after {
    content: " years";
}
orbital_period[type=days]:after {
    content: " days";
}

parameters > * {
    position: relative;
    display: block;
    padding: 5px 5px 5px 110px;
}

parameters > *:before {
    opacity: .6;
    position: absolute;
    left: 0;
}

parameters > *:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

discovery_date {
    position: absolute;
    background-color: #4d5558;
    color: white;
    padding: 8px 15px;
    border-radius: 50px;
    right: -20px;
    transform: translateY(-30px);
}

discovery_date:before {
    content: "Discovery date: ";
    margin-right: 5px;
    color: rgba(255, 255, 255, .6);
}

/*
* === PLANETS ===
*/
planets:before {
    content: "Planets";
    width: 100%;
    color: white;
    font-size: 2rem;
    padding: 35px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 700;
}
planets {
    position: relative;
    background-color: #4623a1;
    background-image: url('../images/milky-way.jpg');
    background-size: cover;
    background-position: center bottom;
    display: flex;
    flex-wrap: wrap;
    padding: 35px;
    z-index: 1;
}

planets planet {
    position: relative;
    padding: 20px;
    width: calc(25% - 40px);
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, .3) 0 15px 50px;
    border-radius: 10px;
    margin: 20px;
    transition-duration: 400ms;
}

planets planet:hover {
    transition-duration: 600ms;
    transform: scale(1.05);
    cursor: default;
}

planets planet > name {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.05rem;
    font-family: 'Gugi', serif;
}

planets planet > description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 130%;
    font-weight: 300;
    height: 150px;
    box-sizing: border-box;
    padding: 20px 40px;
    background-color: rgba(0, 0, 30, .1);
    margin: 10px -20px;
}

planets planet > symbol {
    position: absolute;
    left: -20px;
    top: -20px;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #000;
    color: #fff;
    line-height: 50px;
    border-radius: 100%;
    font-size: 1.5rem;
    font-weight: bold;
}

planets planet > symbol:empty {
    display: none;
}

planets planet details > * {
    display: block;
    font-weight: 100;
}

/*
* === SATELLITES ===
*/
satellites:before {
    content: "Satellites";
    width: 100%;
    color: white;
    font-size: 2rem;
    padding: 35px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 700;
}

satellites {
    background-image: url('../images/moon.jpg');
    background-size: cover;
    background-position: center top;
    display: flex;
    flex-wrap: wrap;
    padding: 35px;
}

satellites satellite {
    background-color: rgba(0, 0, 0, .5);
    border: 2px solid #4d5558;
    position: relative;
    padding: 20px;
    width: calc(25% - 40px);
    box-sizing: border-box;
    border-radius: 10px;
    margin: 20px;
    color: #fff;
    transition-duration: 400ms;
}

satellites satellite:hover {
    transition-duration: 600ms;
    transform: scale(1.05);
    cursor: default;
}

satellites satellite > name {
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 0.05rem;
    font-family: 'Gugi', serif;
}

satellites satellite > description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120%;
    font-weight: 300;
    height: 130px;
    box-sizing: border-box;
    padding: 10px 40px;
    margin: 10px -20px;
    color: rgba(255, 255, 255, .7);
}

satellites satellite > discovery_date {
    background-color: #000;
    border: 2px solid #4d5558;
}

/*
* === MISSIONS ===
*/
missions:before {
    content: "Missions";
    width: 100%;
    color: white;
    font-size: 2rem;
    padding: 35px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 700;
}

missions {
    background-image: url('../images/iss.jpg');
    background-size: cover;
    background-position: center top;
    display: flex;
    flex-wrap: wrap;
    padding: 35px;
}

missions mission {
    display: block;
    border-left: 5px solid rgba(255, 255, 255, .9);
    width: calc(33% - 40px);
    padding: 10px 30px;
    margin: 20px;
    box-sizing: border-box;
    opacity: .5;
    transition-duration: 500ms;
    cursor: pointer;
}

missions mission:hover {
    opacity: 1;
}

missions mission > name {
    display: block;
    color: rgba(255, 255, 255, .9);
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    padding: 0 10px;
}

missions mission > description {
    display: block;
    padding: 10px;
    color: rgba(255, 255, 255, .6);
    font-weight: 300;
    font-size: 110%;
    line-height: 140%;
}

@media only screen and (max-width: 1025px) {
    planets planet {
        width: calc(50% - 40px);
    }
    satellites satellite {
        width: calc(50% - 40px);
    }
    missions mission {
        width: 100%;
    }
}
